html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "sans-serif", "Limelight";
    background-color: #219EBC;
}

header {
    display: flex;
    justify-content: left;
    margin: 0;
    background-color: #8ECAE6;
}

header h1 {
    font-size: 2rem;
    margin: 5px;
    font-family: "Limelight", sans-serif;
}   

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: white;
    background-color: #023047;
    width: 10%;
    transition: 0.1s;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}

header a:hover {
    color: #FB8500;
    background-color: #FFB703;
    border: 3px solid #FB8500;
}

header .search-bar {
    /* Layout */
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
}

header .search-bar input {
    height: auto;
    width: 500px;
    margin: 0;
    padding: 3px;
    border: 2px solid black;
    border-radius: 5px;
}

.container {
    position: relative;
}

.container img {
    /* Layout */
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;

    /* Style */
}

.container .movie-title {
    display: flex;
    position: absolute;
    top: 8px;
    left: 16px;
}