html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "sans-serif", "Limelight";
    background-color: #219EBC;
}

header {
    display: flex;
    justify-content: left;
    margin: 0;
    background-color: #023047;
    border-bottom: 5px solid #023047;
}

header h1 {
    font-size: 2rem;
    margin: 5px;
    font-family: "Limelight", sans-serif;
}   

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: black;
    border: 3px solid black;
    background-color: #023047;
    width: 10%;
    transition: 0.5s;
    border-radius: 10px;
}

header a:hover {
    color: #FB8500;
    border: 3px solid #FB8500;
}

.container {
    position: relative;
}

.container img {
    /* Layout */
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;

    /* Style */
}

.container .movie-title {
    display: flex;
    position: absolute;
    top: 8px;
    left: 16px;
}