html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Limelight";
    background-color: #FFB703;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    background-color: #023047;
}

header .logo {
    height: 10%;
    width: 3%;
    padding: 10px;
}   

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: black;
    background-color: #FFB703;
    width: 10%;
    transition: 0.1s;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}

header a:hover {
    color: #023047;
    background-color: #FFB703;
    border: 3px solid #FB8500;
}

header .search-bar {
    /* Layout */
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
}

header .search-bar input {
    height: auto;
    width: 500px;
    margin: 0;
    padding: 3px;
    border: 2px solid black;
    border-radius: 5px;
}